{% extends "anasayfa/layout.html" %}
{% load static %}

{% block header %}
Kayıt Ol
{% endblock%}

{% block content %}


  {% if form.errors %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Formunuzda bir sorun oluştu
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>



  {% endif %}

    <form action="{% url 'register_user' %}" method="POST">
      {% csrf_token %}

      {{ form.as_p }}

      <br/><br/>
      <input type="submit" value="Submit" class="btn btn-secondary">
    </form>

{% endblock %}
